.general-info {
    
    .name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0.2rem;
    }

    hr {
        margin-top: 0.2rem;
    }

    .rules {
        padding: 1rem;
    }
}

.nav {
    margin-top: 0.5rem;

    .nav-actions {
        display: flex;
        justify-content: space-between;

        button {
            width: 8rem;
            // mq here
        }
    }
}