.game-rules {
    max-height: 80vh;

    .general-info {
        
        .name {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0.5rem 0;
        }
    
        hr {
            margin-top: 0.2rem;
        }
    
        .rules {
            padding: 1rem;
        }
    }

    .nav-actions {
        display: flex;
        justify-content: center;

        button {
            width: 30%;
        }
    }
}
