#actions-games-section {
    margin-top: 0.5rem;

    .wrapper {
        padding: 0.3rem;
        display: flex;
        flex-direction: column;

        .actions {
            display: flex;
            justify-content: space-between;
        }

        button {
            padding: 0.5rem;
            width: 32%;
        }

        .settings-button {
            padding: 0;
            width: 100%;
            font-size: 2rem;
        }
    }
}