.game-info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .general-info {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            width: 5rem;
            font-size: 1rem;
            margin: auto;
            @include mq(768) {
                font-size: 1.5rem;
            }
        }

        .winner-label {
            font-size: 3rem;
        }
    }

    .winner-info {
        display: flex;
    }

    hr {
        margin: 0.5rem 0.5rem;
    }

    .player-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.25rem;
        margin-bottom: 0.2rem;

        .player-name, .player-points {
            display: flex;
            flex-direction: column;
        }

        .column-name, .column-data {
            display: flex;
            justify-content: center;
        }

        .column-data {
            font-style: bold;
        }
    }
}

.game-actions {
    margin-top: 1rem;

    .game-actions-choice {

        .in-game-actions, .out-game-actions {
            display: flex;
        }

        .in-game-actions {
            justify-content: space-between;
        }

        .out-game-actions {
            flex-direction: column;
        }

        button {
            width: 6rem;
            margin: 0.5rem auto;
        }
    }
}
