.game-info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .general-info {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            width: 5rem;
            font-size: 1rem;
            margin: auto;
            @include mq(768) {
                font-size: 1.5rem;
            }
        }

        .winner-label {
            font-size: 3rem;
        }
    }

    .winner-info {
        display: flex;
    }

    hr {
        margin: 0.5rem 0.5rem;
    }

    .player-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.25rem;
        margin-bottom: 0.2rem;

        .player-name, .player-points {
            display: flex;
            flex-direction: column;
        }

        .column-name, .column-data {
            display: flex;
            justify-content: center;
        }

        .column-data {
            font-style: bold;
        }
    }
}

.game-actions {
    margin-top: 1rem;

    .game-actions-choice {

        .in-game-actions, .out-game-actions {
            display: flex;
        }

        .in-game-actions {
            justify-content: space-between;
        }

        .out-game-actions {
            justify-content: center;
        }

        button {
            width: 6rem;
        }
    }
}

// <section class="game-results">
// <div class="title"><h1>Results</h1></div>
// <div class="list">
//     <div class="item">
//         <hr />
//         <div class="place">1</div>
//         <div class="player">Frodo</div>
//         <div class="points">33</div>
//         <hr />
//     </div>
// </div>
// </section>

.game-results {
    margin-top: 1rem;
    padding: 0.3rem;

    .title {
        display: flex;
        justify-content: center;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        text-align: center;
    }

    tr {
        .place {
            width: 4rem;
        }
    
        .points {
            width: 5rem;
        }
    }

    td, th {
        border: 1px solid #dddddd;
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}
