.image {
    text-align: center;

    img {
        width: 100%;
    }
}

hr {
    margin: 0.5rem 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;

    div {
        padding: 0.2rem;
    }

    .active {
        text-decoration: underline;
        background-color: yellow;
        border-radius: 0.5rem;
    }
}