#points-counter-game-around-the-world-section {
    margin-top: 0.5rem;

    .wrapper {
        padding: 0.2rem;
        display: flex;
        justify-content: space-between;

        button {
            width: 5rem;
        }
    }
}