#message-account-section {
    padding: 0.5rem;
    background-color: $danger-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .cross {
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    .cross:hover {
        color: black;
    }
}

#user-credentials-entry-account-section {

    .wrapper-buttons,
    .wrapper-inputs {
        display: flex;
        padding: 0.5rem;
    }

    .wrapper-inputs {
        flex-direction: column;

        input {
            margin-bottom: 0.5rem;
            height: 2rem;
        }
    }

    .wrapper-buttons {
        button {
            width: 30%;
            margin: auto;
        }
    }
}