#death-circle {
    margin-bottom: 0.5rem;

    .wrapper {
        padding: 0.5rem;

        p {
            text-transform: uppercase;
            text-align: center;
            font-size: 2rem;
        }
    }
}