.games-home {
    display: flex;
    flex-direction: column;

    .games-list {
        display: flex;
        flex-direction: column;

        .list-title {
            text-align: center;
            font-size: 2rem;
        }

        hr {
            margin: 0.2rem 0.5rem;
        }

        .game-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            .game-name {
                display: flex;
                flex-direction: row;
                flex: 1;
                justify-content: center;
            }

            .actions-list {
                display: flex;
                flex-direction: row;
                flex: 1;

                button {
                    margin: 0 0.3rem;
                    width: 4rem;
                    @include mq(768) {
                        width: 5rem;
                    }
                }
            }
        }
    }
}

.add-players {
    margin-top: 0.5rem;

    .container {
        display: flex;
        margin: 0;
        padding: 0.3rem;
        justify-content: center;

        button {
            width: 7rem;
            padding: 0.2rem;
        }
    }
}