#results-table-game-results-section {
    max-height: 70vh;
    overflow-y: scroll;

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        text-align: center;
    }

    tr {
        .place {
            width: 5rem;
        }

        .points {
            width: 5rem;
        }
    }

    td,
    th {
        border: 1px solid #dddddd;
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}