#friends-list-friends-section {
    margin-top: 0.5rem;
    padding: 0.2rem;
    min-height: 55vh;
    max-height: 55vh;
    overflow-y: scroll;

    .wrapper {
        padding: 0.5rem;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        text-align: center;

        tr {
            .name {
                width: 80%;
            }

            .actins {
                width: 20%;
            }
        }

        td,
        th {
            border: 1px solid #dddddd;
            padding: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
}