.list-container {

    .players-list {
        padding: 0.5rem;
        min-height: 45vh;
        max-height: 45vh;
        overflow-y: scroll;
        margin-top: 0.5rem;

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
            text-align: center;
        }
    
        tr {  
            .actions {
                width: 2rem;
            }
        }
    
        td, th {
            border: 1px solid #dddddd;
            padding: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            #remove-cross:hover {
                cursor: pointer;
                font-size: 2rem;
            }
        }
    
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
}

/* Hide scrollbar for */
.players-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.players-list::-webkit-scrollbar {
    display: none;
}

.actions-container {

    .new-player-entry {
        padding: 0.5rem;
        margin-top: 0.5rem;
    
        #new-player-form {
            display: flex;
            justify-content: space-between;
    
            input[type="text"] {
                width: 75%;
                font-size: 1.25rem;
                border: 2px solid $textbox-border-color;
                border-radius: 10px;
                padding: 0.75rem;
                outline: none;
            }
    
            button {
                width: 15%;
                font-size: 1.25rem;
                padding: 0.75rem;
            }
        }
    }

    .buttons-group {
        margin-top: 0.5rem;

        div {
            display: flex;
            justify-content: center;

            button {
                width: 7rem;
            }
        }
    }
}
