.new-player-entry {
    padding: 0.75rem;
    margin-top: 0.5rem;

    #new-player-form {
        display: flex;
        justify-content: space-between;

        input[type="text"] {
            width: 75%;
            font-size: 1.25rem;
            border: 2px solid $textbox-border-color;
            border-radius: 10px;
            padding: 0.75rem;
            outline: none;
        }

        button {
            width: 15%;
            font-size: 1.25rem;
            padding: 0.75rem;
        }
    }
}

.message {
    padding: 0.75rem;
    background-color: $danger-color;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cross {
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }

    .cross:hover {
        color: black;
    }
}

.list-container {
    padding: 0.75rem;
    margin-top: 0.5rem;

    .buttons-group {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        button {
            width: 5rem;
        }
    }

    .players-list {
        min-height: 30vh;
        max-height: 60vh;
        overflow-y: scroll;
        margin-top: 0.5rem;

        button {
            width: 48px;
            height: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
            text-align: center;
        }
    
        tr {        
            .actions {
                width: 7rem;
            }
        }
    
        td, th {
            border: 1px solid #dddddd;
            padding: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
}

.players-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.players-list::-webkit-scrollbar {
    display: none;
}
