.buttons-group-section {
    margin-top: 0.5rem;

    .wrapper {
        padding: 0.3rem;
        display: flex;
        justify-content: center;

        button {
            width: 7rem;
        }
    }
}