#players-list-add-players-section {
    .wrapper {
        padding: 1rem;
        min-height: 40vh;
        max-height: 40vh;
        overflow-y: scroll;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        text-align: center;

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        tr {

            td {
                border: 1px solid #dddddd;
                padding: 8px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .player-name {
                width: 80%;
            }
        }
    }
}