$danger-color: #BB5D44;
$success-color: #44BB5D;
$info-color: #5565DF;

.button {
    min-width: 48px;
    min-height: 48px;
    color: $button-text-color;
    border: 2px solid $textbox-border-color;
    border-radius: 10px;
    outline: none;
}

.button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.results-button,
.rules-button,
.settings-button,
.home-button,
.log-in-button,
.register-button,
.account-button,
.friends-button,
.stats-button {
    background-color: $info-color;
}

.play-button,
.made-button,
.save-button,
.add-button {
    background-color: $success-color;
}

.back-button,
.miss-button,
.remove-button,
.cancel-button,
.log-out-button {
    background-color: $danger-color;
}

.game-info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .player-info {
        font-size: 1.5rem;

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
            text-align: center;
        }

        tr {
            .points {
                width: 6rem;
            }
        }

        td,
        th {
            border: 1px solid #dddddd;
            padding: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
}

.game-actions {
    margin-top: 1rem;

    .game-actions-choice {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;

        .additional {
            display: flex;
            justify-content: space-evenly;
            margin: 0.5rem 0;
        }

        .shooting {
            display: flex;
            justify-content: space-evenly;
            margin: 0.5rem 0;
        }

        button {
            width: 33%;
        }
    }
}

.message {
    padding: 0.75rem;
    background-color: $danger-color;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .cross {
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }

    .cross:hover {
        color: black;
    }
}